@font-face {
  font-family: 'Higuen Elegant Serif';
  src: url('/fonts/HiguenElegantSerif.woff2') format('woff2'),
       url('/fonts/HiguenElegantSerif.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
