@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add the scroll behavior here instead of in the module file */
html {
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Font declaration */
@font-face {
  font-family: 'Higuen Serif';
  src: url('/fonts/HiguenSerif.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
